body{
    font-family: Arial;
    background:#f4f6fb;
    text-align:center;
}
.center{
    margin-top:100px;
}
.card{
    background:white;
    padding:20px;
    margin:20px auto;
    width:300px;
    border-radius:10px;
}
.btn{
    padding:10px 20px;
    margin:10px;
    background:#3b5bcc;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.menu{
    margin-top:40px;
}
.grid{
    display:flex;
    justify-content:center;
    gap:20px;
}
.logout{
    background:red;
}